@import './variables.scss';

:root {
    --main-color: #333333;
    --white-color: #FFFFFF;
    --gray-color: #D6D6D6;
    --bg-color: #E5E5E5;
    background-color: #FFFFFF;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

.App {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}