// ---------- Fonts ---------- //
$main-font: 'Rubik', sans-serif;
$secondary-font: 'Ubuntu', sans-serif;
// --------------------------- //





// ---------- Desktop2 (1440px) / Desktop3 (1156px) / Tablet / Mobile ---------- //
$Desktop2: 1440px;
$Desktop3: 1152px;
$Tablet: 768px;
$Mobile: 320px;
// ----------------------------------------------------------------------------- //