.HashTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
    gap: 10px;
}
.HashTag {
    display: flex;
    align-items: flex-start;

    padding: 20px 30px;

    height: 69px;

    background: #68FF77;
    border-radius: 30px;
}